.LoginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgba(0, 0, 0, .3);
  padding: 1rem 5rem 3rem 5rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.Input {
  border: none;
  border-bottom: 1px solid rgba(150, 150, 150, .8);
  outline: none;
}

.Input:not(:last-child) {
  margin-bottom: 1rem;
}

.SubmitBtn {
  margin-top: 2rem;
  border: none;
  background-color: rgba(150, 150, 150, .8);
  padding: .5rem 1rem;
  border-radius: .5rem;
  color: white;
}

.FormGroup {
  display: flex;
  flex-direction: column;
}

.AuthFailed {
  text-align: center;
  padding: 1rem;
  background-color: rgba(255, 0, 0, .2);
  color: red;
  border-radius: 2px;
  border: 1px solid rgba(255, 0, 0, .3);
  font-size: 1.2rem;
}

.Signup {
  font-size: 1.2rem;
  text-decoration: underline;
}