.ProfilePic {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: aquamarine;
  display: inline-block;
}

.Medium {
  height: 5rem;
  width: 5rem;
}

.Mega {
  height: 20rem;
  width: 20rem;
}