.FiltersTitle {
  text-align: center;
  margin-bottom: 1rem;
}

.FiltersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Filter {
  margin: 0 .5rem;
  font-size: 1.2rem;
}

.RemoveFilter {
  margin-right: .3rem;
}

.AddFilters {
  color: #3358ff;
  text-decoration: underline;
  font-size: 1.2rem;
  text-align: center;
  margin-top: .5rem;
}

.FiltersContainer {
  margin-bottom: 2rem;
}